body{
	color: #666;
}
header{
	background: url('../images/travel_back.jpg') no-repeat;
	color: #FFF;
	padding: 80px 0 20px 0;
	position: relative;
	background-size:cover;
}
header:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	top: 0;
}
section{
	background: #FFF;
	padding:90px 0;
	position: relative;
}

section:nth-child(even){
	background: #eee;
}

section:nth-child(even) hr{
	border: 1px solid #E0DEDE;
}

h2{
	color: #125560;
}
h2,h3, h4{
	font-family: 'Noto Sans', sans-serif;
}
footer .footer-above {
    background-color: #125560;
    padding-top: 30px;
    color: #FFF;
    position: relative;
}

section#quees:after, section#comofunciona:after  {
    background: inherit;
    border-radius: 50%;
    bottom: -37px;
    content: "";
    height: 100px;
    left: 45%;
    position: absolute;
    width: 100px;
    z-index: 10;
}

.footer-above:before{
    border-top: 1px dashed #FFF;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 10px;
}
.footer-above:after{
	background: inherit;
	content: "\e171";
	font-size: 20px;
	position: absolute;
	right: 15px;
	top: 0;
	font-family: 'Glyphicons Halflings';
}
footer .footer-col{
	padding-bottom: 30px;
}
footer .footer-col:nth-child(3){
	text-align: center;
}
.footer-below{
	color: #FFF;
	background-color: #1E7B89;
	padding:15px 0;
}
.picture{
	width: 50%;
	border-radius: 50%;
}
.profilepic{
	text-align: center;
}
.loading {
    position: absolute;
    height: 50px;
    width: 50px;
    display: inline-block;
    background: rgba(255,255,255,0.5) url(../images/loading.gif) center center no-repeat;
    top: 50%;
    left: 50%;
}
.icons-info{
	background: #125560;
	border-radius: 50%;
	color: #FFF;
	font-size: 30px;
	margin:4% 40%;
	padding: 10px;
	position: relative;
	z-index: 1;
}
.icons-info:after{
	background: inherit;
	bottom: -5px;
	content: "";
	height: 15px;
	left: 35%;
	position: absolute;
	width: 15px;
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: -1;
}

.functions .glyphicon{
	background: #F29407;
	border-radius: 50%;
	padding: 5px;
	color:#fff;
}

.functions button{
	color:#666;
}

.icon-logo{
	font-size: 45px;
}
.navbar-default, .navbar-inverse{
	background: none;
	border: none;
}
.navbar-default{
	background: rgba(18, 85, 96,0.85);
}

.diagram{
	margin: 0 auto;
}

.navbar-brand{
	color: #FFF;
	font-family: 'Noto Sans', sans-serif;
	font-size: 22px;
	text-transform: uppercase;
}

.tool{
	background:rgba(18, 85, 96,0.85);
	color: #FFF;
	display: inline-block;
	font-size: 18px;
	margin-right: -1px;
	padding:12px 17px;
}
.tool:nth-child(2){
	background-color: #187E8E;
}

.tool:nth-child(3){
	background-color: #1496AA;
}

.navbar-inverse .navbar-brand{
	color: #FFF;
}

.navbar-inverse .navbar-nav > li > a{
	color: #FFF;
}

.barra{
	background: #CCC;
	position: relative;
	border-radius: 5px;
	text-align: right;
	font-size: 15px;
}

.navbar-nav{
	margin-top: 24px;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	background-color: #178C9E;
	-webkit-transition: background-color 0.2s linear;
	-o-transition: background-color 0.2s linear;
	transition: background-color 0.2s linear;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus{
	background-color: #178C9E;
}

.barra:before{
	background: #49abd8;
	content: "";
	height: 100%;
	position: absolute;
	left: 0;
	border-radius: 5px 0 0 5px;
}
.barra.avion:before{
	width: 20%;
}
.barra.transporte:before{
	width: 80%;
}
.barra.gastos:before{
	width: 50%;
}
.navbar{
	padding-bottom: 15px;
}

.navbar-brand span{
	vertical-align: middle;
}

#loginFormAdmin input, #loginFormServidor input,#loginFormCiudadano input{
	width: 50%;
	margin: 15px 0;
}

#travelogo{
	background: url("../images/viajes_logo.png") 0 2px no-repeat;
	background-size: 100%;
	position: relative;
	text-indent: -9999px;
	overflow: hidden;
	padding: 15px 10px;
	display: block;
	width: 280px;
	position: absolute;
	height: 100%;
}

#registroaccesar h3{
	margin-top: 0;
}

#registroaccesar button{
	background: #F29407;
	color: #FFF;
}
.input-group{
	margin-bottom: 15px;
}

.hidesection{
	display: none;
}
.instructions{
	margin:0;
	padding: 0;
}
.instructions li{
	display: inline-block;
	width: 100%;
	margin: 10px 0;
}

.instructions .count{
	background: #1E7B89;
	padding: 5px;
	width: 30px;
	text-align: center;
	border-radius: 50%;
	color: #FFF;
	display: inline-block;
	margin: 0 5px;
}

.tab-pane.active{
	background: #FFF;
	padding: 5px;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
	background-color: #178C9E;
}

.servidoresList a{
	width: 100%;
	display: block;
	text-align: left;
	color: #28cae2;
}

#addPicture {
	display: none;
}
a.changePicture span{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	font-size: 14px;
	line-height: 1.42857143;
}

.navbar-toggle{
	margin-top: 25px;
	margin-bottom: 20px;
}

.notinformation{
	border-radius: 50%;
	border: 2px solid #fff;
	padding: 10px;
	font-size: 5em;
	width: 125px;
	text-align: center;
	display: inline-block;
}

#topage{
	padding:15px;
	text-align:center;
	color: #fff;
	position:fixed;
	top:300px;
	right:20px;
	cursor: pointer;
	background: rgba(0,0,0,0.5);
	z-index: 10;
	display: none;
	border-radius: 5px;
}

.input-group-addon{
/*	width: 150px;
*/	text-align: left;
}


.accordion {
  margin-bottom: 20px;
}

.accordion-group {
  margin-bottom: 2px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.accordion-heading {
  border-bottom: 0;
}

.accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px;
}

.accordion-toggle {
  cursor: pointer;
}

.accordion-inner {
  padding: 9px 15px;
  border-top: 1px solid #e5e5e5;
}

.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
     -moz-transition: height 0.35s ease;
       -o-transition: height 0.35s ease;
          transition: height 0.35s ease;
}

.collapse.in {
  height: auto;
}
